body {
  font-size: 14px;

  line-height: 20px;

  font-weight: 400;
  background-color: #f5f6f9;
}
* {
  padding: 0;
  margin: 0;
}
.header-top {
  width: 100%;
}
.container {
  margin: 30px auto;
  width: 1200px;
  line-height: 80px;
  display: flex;
  justify-content: space-evenly;
}
.container-left {
  float: left;
}
.container-left a {
  display: inline-block;
}
.container-left a img {
  width: 150px;
  height: 80px;
}
ul {
  list-style: none;
}
.container-input {
  float: left;
  width: 700px;
  outline: none;
}
.container-input input {
  width: 400px;
  /* height: 30px; */
  margin-left: 100px;
  line-height: 30px;
  padding: 5px;
  border: 1px solid gainsboro;
  outline: none;
  border-radius: 5px;
}
.container-input input:focus {
  outline: none;
  border-color: #fbb111;
}
.container-input button {
  padding: 10px 30px;
  background-color: #fbb111;
  color: white;
  outline: none;
}
.btn {
  border-radius: 5px;
  border: 1px solid gray;
}
.container-input button:hover {
  background-color: red;
}
.container-right {
 
  width: 300px;
}

.container-right ul {
  /* border: 1px solid #333; */
  display: flex;
  justify-content: space-around;
  height: 90px;

}
.container-right ul li {
 padding: 5px;
 margin-top: -10px;
}

.container-right ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
 line-height: 90px;
 display: block;
 
  
}
.container-right ul li img{
  width: 40px;
  height: 40px;
  margin-left: 5px;

  margin-top: 40px;
}
.container-right ul li p{
  margin-top: -70px;
  /* margin-right: 10px; */
  /* border: 1px solid #333; */
}
a {
  text-decoration: none;
}
.container-right ul li a:hover {
  color: #fbb111;
}
.container-right ul li a:focus {
  color: red;
}
.nav {
  margin: 0 auto;
  width: 1200px;
  background-color: #f5f6f9;
}


.my-footer {
  width: 100%;
}
.footer {
  width: 100%;

 
}

.first-footer {
  border: 1px solid gainsboro;
  display: flex;
   justify-content: space-evenly; 
  background-color: #fefefe;
  width: 100%;
  /* border: 1px solid #333; */
}

.first-footer div {
 
  width: 200px;
  margin-top: 20px;
  /* border: 1px solid #333; */
}

.first-footer>div>p {
  /* display: block; */
 padding: 10px;
  text-align: center;
  font-size: 14px;
}
.first-footer>div>p:first-child{
  font-size: 18px;
  font-weight: bold;
}
.second-footer {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}
.second-footer-first ul {
  display: flex;
  justify-content: center;
  list-style: none;
  /* border: 1px solid #333; */
}

.second-footer-first ul li a {
  text-decoration: none;
  display: inline-block;
  color: #333;
  margin: 5px 9px;
}
.second-footer-first ul li a:hover {
  color: #fbb111;
}
.third-footer {
  margin: 10px auto;
  width: 1200px;
  /* border: 1px solid #333; */
}
.third-footer p{
  padding: 10px;
}
.clearfix {
  *zoom: 1;
}
