:root {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  flex-direction: column;
}
.bg {
  height: 1100px;
  background-color: rgb(240, 243, 239);
}

.bg .w {
  width: 1200px;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.el-aside {
  margin-left: 20px;
  margin-right: 20px;
  width: 150px;
  display: flex;
  flex-direction: column;
}

.el-menu-item.is-active {
  color: rgb(244, 202, 58);
}

.bg .w .qianbao {
  display: flex;
  width: 1160px;
  height: 242px;
  margin: 20px 0 20px 20px;
  box-shadow: 5px 5px 6px #cecece;
}

.bg .w .dingdan {
  background-color: rgb(255, 255, 255);
  float: left;
  width: 960px;
  /* height: 600px; */
  margin: 0px 0 0 0px;
  box-shadow: 5px 5px 6px #cecece;
}

.bg .w .guanzhu {
  background-color: rgb(255, 255, 255);
  float: left;
  width: 280px;
  height: 200px;
  margin: 20px 0 0 20px;
  box-shadow: 5px 5px 6px #cecece;
}

.bg .w .liulan {
  background-color: rgb(255, 255, 255);
  float: right;
  width: 280px;
  height: 200px;
  margin: 20px 20px 0 20px;
  box-shadow: 5px 5px 6px #cecece;
}

.bg .w .liulan2 {
  padding: 0 20px;
}

.bg .w .liulan2 img {
  position: absolute;
  width: 59px;
  height: 60px;
  margin-top: 30px;
  margin-left: 1px;
}

.bg .w .qianbao .card {
  display: inline-block;
  width: 300px;
  box-shadow: 5px 5px 6px #cecece;
}

.bg .w .qianbao .card1 {
  position: relative;
  /* padding-top: 15px; */
  background-color: rgb(244, 202, 58);
  height: 180px;
  width: 300px;
}

.bg .w .qianbao .card2 {
  text-align: center;
  background-color: rgb(35, 35, 49);
  /* float: left; */
  height: 62px;
  width: 300px;
}

.bg .w .qianbao .card2 a {
  display: inline-block;
  color: #000;
  background-color: rgb(244, 202, 58);
  height: 30px;
  width: 65px;
  border-radius: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  margin-left: 5px;
  text-decoration: none;
}

.bg .w .qianbao .card2 span {
  color: rgb(244, 202, 58);
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.bg .w .qianbao .card1 img {
  position: absolute;
  top: 29px;
  left: calc(50% - 40px);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: 5px 5px 6px #bb7719;
}

.bg .w .qianbao .card1 h3 {
  position: absolute;
  top: 120px;
  left: 73px;
}

.qianbao-big {
  width: 860px;
}

.bg .w .qianbao .card1 .vip {
  position: absolute;
  top: 125px;
  left: 178px;
  height: 16px;
  width: 50px;
  background: rgb(65, 65, 65);
  color: rgb(255, 243, 141);
  font-size: 10px;
  text-align: center;
  border-radius: 2px;
}

.bg .w .qianbao .card1 .score {
  position: absolute;
  top: 149px;
  left: calc(50% - 100px);
  width: 200px;
  height: 22px;
  border: 1px solid rgb(35, 35, 49);
  color: rgb(35, 35, 49);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  border-radius: 20px;
}

.bg .w .dingdan1 {
  border-bottom: 1px solid rgb(240, 243, 239);
}

.bg .w .guanzhu1 {
  border-bottom: 1px solid rgb(240, 243, 239);
}

.bg .w .liulan1 {
  height: 60px;
  border-bottom: 1px solid rgb(240, 243, 239);
}

.bg .w .qianbao1 {
  width: 860px;
  height: 60px;
  border-bottom: 1px solid rgb(240, 243, 239);
}

.bg .w .qianbao1 span {
  display: block;
  background-color: #fff;
  line-height: 60px;
  padding-left: 30px;
  color: #333;
  font-size: 16px;
}

.bg .w .dingdan1 span {
  color: #333;
  font-size: 16px;
  width: 1000px;
  height: 60px;
  line-height: 60px;
  padding-left: 30px;
}

.bg .w .guanzhu1 span {
  color: #333;
  font-size: 16px;
  width: 1000px;
  line-height: 60px;
  padding-left: 30px;
}

.bg .w .liulan1 span {
  display: inline-block;
  color: #333;
  font-size: 16px;
  line-height: 60px;
  padding-left: 30px;
}

.bg .w .liulan1 a {
  display: inline-block;
  color: #333;
  font-size: 12px;
  line-height: 60px;
  padding-left: 120px;
}

.bg .w .shopcar1 a {
  padding-left: 132px;
}

.bg .w .guanzhu2 div {
  display: inline-block;
  height: 139px;
  width: 140px;
}

.bg .w .guanzhu2 span {
  display: block;
  color: #333;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
}

.bg .w .guanzhu2 span:first-child {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 700;
}

.bg .w .qianbao2 {
  height: 181px;
  width: 860px;
  background-color: #fff;
}

.bg .w .dingdan2 {
  height: 149px;
  border-bottom: 1px solid rgb(240, 243, 239);
}

.bg .w .dingdan3 {
  height: 142px;
  border-bottom: 1px solid rgb(240, 243, 239);
  padding: 0px 50px 0 80px;
  width: 800px;
}

.bg .w .dingdan3 span:nth-child(2) {
  font-size: 12px;
}

.bg .w .dingdan3 span:nth-child(1) {
  font-size: 14px;
}

.bg .w .dingdan3 img {
  width: 65px;
  margin-top: 38px;
  float: left;
}

.bg .w .dingdan3 div {
  float: left;
  margin: 38px 0 15px 15px;
  width: 420px;
  height: 70px;
}

.bg .w .dingdan3 div span {
  float: left;
  display: block;
  font-size: 12px;
  margin-top: 10px;
  width: 520px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #333;
}

.bg .w .dingdan3 a {
  float: right;
  line-height: 143px;
  font-size: 14px;
  color: #333;
  /* text-decoration: none; */
  margin-right: 50px;
}

.bg .w .qianbao2 .top div {
  display: inline-block;
  margin-left: 85px;
  margin-top: 30px;
  text-align: center;
  height: 140px;
}

.bg .w .dingdan2 .top div {
  display: inline-block;
  margin-left: 71px;
  margin-top: 30px;
  text-align: center;
  width: 100px;
}

.bg .w .dingdan2 .top div:nth-child(3) {
  position: relative;
}

.bg .w .dingdan2 .top div:nth-child(3) a {
  position: absolute;
  left: 60px;
  top: -4px;
  background-color: red;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  color: white;
  line-height: 19px;
  margin: 0;
}

.bg .w .dingdan2 .top div img {
  height: 56px;
  width: 56px;
}

.bg .w .dingdan2 .top div:nth-child(2) img {
  height: 52px;
  width: 52px;
  margin-bottom: 5px;
}

.bg .w .dingdan2 .top div:nth-child(3) img {
  height: 40px;
  width: 40px;
  margin-bottom: 11px;
}

.bg .w .dingdan2 .top div:nth-child(4) img {
  height: 41px;
  width: 41px;
  margin-bottom: 12px;
}

.bg .w .dingdan2 .top div:nth-child(5) img {
  height: 36px;
  width: 36px;
  margin-bottom: 16px;
}

.bg .w .dingdan2 .top div span {
  display: block;
  font-size: 14px;
  color: #333;
  /* margin-bottom: 50px; */
}

.bg .w .qianbao2 .top div a {
  display: block;
  margin-top: 30px;
  font-size: 14px;
  color: #4184ec;
}

.bg .w .qianbao2 div h2 {
  margin-bottom: 10px;
}

.w .subnav {
  width: 160px;
  height: 922px;
  background-color: rgb(255, 255, 255);
  float: left;
}

.subnav ul li {
  list-style: none;
  height: 45px;
  line-height: 45px;
  padding: 0 20px;
  display: block;
}

.subnav ul li a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.subnav ul li a span {
  display: block;
}

.information {
  background-color: rgb(255, 255, 255);
  float: left;
  width: 960px;
  box-shadow: 5px 5px 6px #cecece;
}

.information_head {
  height: 60px;
  padding-left: 30px;
  border-bottom: 1px solid rgb(240, 243, 239);
}

.information_head span {
  color: #333;
  font-size: 16px;
  line-height: 60px;
  margin-right: 10px;
}

.information_body {
  width: 960px;
}

.information_body .information_body_1 {
  padding-left: 50px;
  height: 180px;
  border-bottom: 1px solid rgb(240, 243, 239);
}

.information_body .information_body_1 span {
  float: left;
  margin-top: 35px;
  margin-right: 30px;
  /* height: 100px; */
  line-height: 100px;
}

.information_body .information_body_1 img {
  float: left;
  height: 90px;
  width: 90px;
  border-radius: 5px;
  box-shadow: 4px 4px 6px #dddddd;
  line-height: 80px;
  margin-top: 35px;
}

.information_body .information_body_1 a {
  float: left;
  line-height: 100px;
  margin-left: 20px;
  margin-top: 32px;
  font-size: 12px;
  color: #f4ca3a;
}

.information_body .information_body_2 {
  padding-left: 50px;
  height: 100px;
  border-bottom: 1px solid rgb(240, 243, 239);
}

.information_body .information_body_2 span {
  float: left;
  margin-right: 30px;
  line-height: 100px;
}

.information_body .information_body_2 input {
  margin-top: 38px;
  padding: 4px 6px;
}

.information_body .information_body_3 {
  padding-left: 50px;
  height: 100px;
  border-bottom: 1px solid rgb(240, 243, 239);
}

.information_body .information_body_3 span {
  float: left;
  margin-right: 30px;
  line-height: 100px;
}

.information_body .information_body_3 label {
  line-height: 100px;
}

.information_body .information_body_4 {
  padding-left: 50px;
  height: 100px;
  border-bottom: 1px solid rgb(240, 243, 239);
}

.information_body .information_body_4 span {
  float: left;
  margin-right: 30px;
  line-height: 100px;
}

.information_body .information_body_4 input {
  margin-top: 38px;
  padding: 4px 6px;
}

.information_body .information_body_5 {
  padding-left: 50px;
  height: 100px;
  border-bottom: 1px solid rgb(240, 243, 239);
}

.information_body .information_body_5 span {
  float: left;
  margin-right: 30px;
  line-height: 100px;
}

.information_body .information_body_5 input {
  margin-top: 38px;
  padding: 4px 6px;
}

.information_body .information_body_6 {
  padding-left: 50px;
  height: 150px;
  border-bottom: 1px solid rgb(240, 243, 239);
}

.information_body .information_body_6 div {
  background-color: #f4ca3a;
  float: left;
  display: block;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: 600;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 3px 3px 4px #e6e6e6;
}
